// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #8277e6;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: rgb(73, 73, 73);

$color-blue-light-1: #00aaff;

$color-green: #44ce72;

$color-purple: #bf99f8;

$color-white: #fff;
$color-black: #000;

$color-body-bg: #262626;


// FONT
$default-font-size: 1.6rem;
