h3.subsection 9-1 Key Concepts in Psychological Testing

.para A
  .defn
    .term psychological test
    .meaning is a standardized measure of a sample of a person's behaviour. 
  | They're used to measure individual differences.
  .defn
    .term Intelligence tests
    .meaning measure general mental ability.
  .defn
    .term Aptitude tests
    .meaning assess specific types of mental abilities
  .defn
    .term Achievement tests
    .meaning gauge a person's mastery and knowledge of various subjects
  .defn
    .term Personality tests
    .meaning measure various aspects of personality, including motives, interests, values, and attitudes.

h3.subsection 9-1a Standardization and Norms

.para
  .defn
    .term Standardization 
    .meaning refers to the uniform procedures used in administration and scoring of a test.
  .defn
    .term Test norms
    .meaning provide information about where a score on a psychological test ranks in relation to other scores on that test.
  | Ideally, test norms are based on large samples of people. Test norms are needed because everything is relative. A
  .defn
    .term percentile score
    .meaning indicates the percentage of people who score at or below the score one has obtained.

h3.subsection 9-1b Reliability

.para
  .defn
    .term Reliability 
    .meaning refers to the measurement consistency of a test.
  | One way to check reliability is to check test-retest reliability. Reliability estimates requires the computation of correlation coefficients. The close the correlation is to +1.00, the more reliable the test. Most reliability coefficients fall between 0.70 and 0.95.

h3.subsection 9-1c Validity

.para Validity refers to the ability of a test to measure what it was designed to measure.

.para
  .defn
    .term Content validity
    .meaning refers to the degree to which the content of a test is representative of the domain it's supposed to cover.

.para
  .defn
    .term Criterion-related validity
    .meaning is estimated by correlating subjects' scores on a test with their scores on an independent criterion (another measure) of the trait assessed by the test
