h3.subsection Introduction
.para
  | One of the reasons psychologists are so interested in
  | personality is that it is used as a way of predicting
  | behaviour

h3.subsection 12-1a Defining Personality: Consistency and Distinctiveness
.para
  .defn
    .term Distinctiveness
    .meaning personality is used to explain why not 
      | everyone acts the same way in similar situations
.para
  .defn
    .term Consistency
    .meaning the stability in a person's behaviour over time
      | and across situations

.para
  .defn
    .term Personality
    .meaning refers to an individual's unique constellation behavioural traits

h3.subsection 12-1b Personality Traits: Depositions and Dimensions
.para
  | A
  .defn 
    .term Personality trait
    .meaning is a durable disposition to behave in a particular way in a
      | variety of situations
    | Assume that some traits are more basic than others.
.para
  | Raymond Cattel reduced Gordon Allport's list using 
  .defn
    .term factor analysis
    .meaning corelations among many variables are 
      | analyzed to identify closely related variables
  | Identify hidden factors -- viewed as very basic, higher-order traits
  | that determine less basic, more specific traits.

h3.subsection 12-1c The Five-Factor Model of Pesronality Traits
.para
  | Robert McCrae and Paul Costa came up with "Big Five" higher order traits:
  ul
    li
      .defn
        .term Extraversion
        .meaning outgoing, sociable, upbeat, friendly. Postive outlook. Interdependence.
    li
      .defn
        .term Neuroticism
        .meaning anxious, hostile, self-conscious, insecure, vulnerable. Impulsive and emotionally unstable.
    li
      .defn
        .term Openness to experience
        .meaning Curious, flexible, interests in new ideas. Tolerant of ambiguity.
    li
      .defn
        .term Agreeableness
        .meaning Synmpathetic, trusting, cooperative. Correlated with empathy and helping behaviour.
    li
      .defn
        .term Conscientiousness
        .meaning Dilligent, well organized, punctual. Associated with strong self-discipline and regulate oneself.
.para
  | The Dark Triad -- Machieavellianism, psychopathy, narcissim, sadism

h3.subsection 12-2 Psychodynamic Perspectives
.para
  .defn
    .term Psychodynamic theories
    .meaning include all of the diverse theories descended from the work of Sigmund Freud, which focus on unconscious mental forces
  
h3.subsection 12-2a Freud's Psychoanalytic Theory
.para 
  ul
    li
      | The 
      .defn
        .term id
        .meaning is the primitive, instinctive component of personality that operates according to the pleasure principle
    li The id operates on the
      .defn
        .term pleasure principle
        .meaning which demands immediate gratification of its urges
    li The
      .defn
        .term ego
        .meaning is the decision-making component of personality that operates on the reality principle
    li The
      .defn
        .term reality principle
        .meaning seeks to delay gratification of the id's urges until appropriate outlets and situations can be found
    li The ego engages in
      .defn
        .term secondary-process thinking
        .meaning which is relatively rational, realistic, and oriented towards problem solving
    li The
      .defn
        .term superego
        .meaning is the moral component of personality that incorporates social standards about what represents right and wrong
    li The superego emerges out of the ego at around 3 to 5 years of age
    li In some people, the superego can become irrationally demanding in its stiving for moral perfection.

.para Freud discussed 3 levels of awareness
  ul
    li The
      .defn
        .term conscious
        .meaning consists of whatever one is aware of at a particular time
    li The
      .defn
        .term preconscious
        .meaning contains material just beneate the surface of awareness that can be easily retrieved
    li The
      .defn
        .term unconscious
        .meaning contains thoughts, memories, and desires that are well below the surface of conscious awareness but that nonetheless exert great influence on behaviour

.para Freud believed that behaviour was a result of ongoing internal conflicts between id, ego, and superego. These conflicts cause anxiety.
  .defn
    .term Defence mechanisms
    .meaning are largely unconscious reactions that protect a person from unpleasant emotions such as anxiety and guilt.
  .defn
    .term Rationalization
    .meaning creates false, but plausible excuses to justify unacceptable behaviour.

.para Freud's defence mechanisms:
  ul
    li
      .defn
        .term Repression
        .meaning is keeping distressing thoughts and feelings buried in the unconscious
    li
      .defn
        .term Projection
        .meaning is attributing one's own thoughts, feelings, or motives to another
    li
      .defn
        .term Displacement
        .meaning is diverting emotional feelings (usually anger) from their original source to a subsitute target
    li
      .defn
        .term Reaction formation
        .meaning is behaving in a way that's exactly the opposite of one's true feelings
    li
      .defn
        .term Regression
        .meaning is a reversion to immature patterns of behaviour
    li
      .defn
        .term Identification
        .meaning is bolstering self-esteem by forming an imaginary or real alliance with some person or group
    li
      .defn
        .term Sublimation
        .meaning occurs when unconscious, unacceptable impulses are channeled into socially acceptable, perhaps even admirable, behaviours

.para Freud emphasized sex and aggression because they are subject to more complex and ambiguous social controls than other basic motives. Also noted these drives are thwarted more regularly than other basic biological urges.

h3.subsection 12-2b Jung's Analytical Psychology

.para
  .defn
    .term Analytical psychology
    .meaning emphasized unconscious determinents of personality.
  | Wanted to be differentiated from Freud's psychoanalytic theory. First layer was the
  .defn
    .term Personal unconscious
    .meaning same as Freud's unconscious, houses material that has been repressed or forgotten
  | The
  .defn
    .term collective unconscious
    .meaning is a storehouse of latent memory traces inherited from people's ancestral past
  | Jung called these
  .defn
    .term archetypes
    .meaning are emotionally charged images and thought forms that have universal meanings
  | and believed that important cultural symbols emerge from these universal archetypes.

h3.subsection 12-2c Adler's Individual Psychology

.para Adler believed that the foremost source of human motivation is a
  .defn
    .term strive for superiority
    .meaning a universal drive to adapt, improve oneself, and master life's challenges
  | Children have early inferiority which drives them to acquire new skills and develop new talents

.para
  .defn
    .term Compensation
    .meaning involves efforts to overcome imagined or real inferiorities by developing one's abilities
  | In some people, inferiority feelings can become excessive, which is known as
  .defn
    .term inferiority complex
    .meaning exaggerated feelings of weakness and inadequacy
  | Adler claimed that some people engage in 
  .defn
    .term overcompenstation
    .meaning where people acquire status, power, and trappings of success to cover up their underlying inferiority complex

h3.subsection 12-2d Evaluating Psychodynamic Perspectives

.para Research has demonstrated that
  ul
    li unconscious forces can influence behaviour
    li internal conflict often plays a key role in generating psychological distress
    li early childhood experiences can have powerful influences on adult personality
    li people do use defence mechanisms to reduce their experience of some unpleasant emotions

.para Some criticisms of psychodynamic theory
  ul
    li Poor testability -- ideas are too vague and testable hypotheses are not possible
    li Inadequate evidence -- depend too heavily on clinical case studies. Existing evidence has been distorted to fit theories.
    li Sexism -- bias against women. Male-centred point of view.
    li Unrepresentative samples -- Freud's theories were based on narrow sample of upper-class, neurotic, sexually repressed Viennese women

h3.subsection 12-2 Behavioural Perspectives

.para
  .defn
    .term Behaviourism
    .meaning is a theoretical orientation based on the premise that scientific psychology should study only observable behaviour.

h3.subsection 12-3a Skinner's Ideas Applied to Personality

.para Skinner is well known for his research on the principles of learning. He had to interest in what goes on "inside people" and was only interested in observable behaviour. According to Skinner, people have consistent behaviour due to stable response tendencies through experience. 

.para Skinner believed humans responses are shaped by operant conditioning. He didn't see stages, but instead saw personality as a lifelong development.

h3.subsection 12-3b Bandura's Social Cognitive Theory

.para Skinner ignored human characteristics such as conscious, thinking and feelings. Bandura developed social learning theory, also known as social cognitive theory. Conditioning is not a mechanical process in which people are passive participants. People are self-organizing, proactive, self-reflecting, and self-regulating. People set goals for themselves, anticipate the likely consequences of prospective actions, and select and create courses of action likely to produce desired outcomes and avoid detrimental ones.

.para
  .defn
    .term Reciprocal determinism
    .meaning is the idea that internal mental events, external mental events, and over behaviour all influence one another.

.para
  .defn
    .term Observation learning
    .meaning occurs when an organism's responding is influenced by the observation of others, who are called models.

.para A
  .defn
    .term Model
    .meaning is a person whose behaviour is observed by another.
  | Some models are more influencal than others.

.para
  .defn
    .term Self-efficacy
    .meaning refers to one's belief about one's ability to perform behaviours that should lead to expected outcomes.

h3.subsection 12-3c Mischel and the Person-Situation Controversy

.para Mischel thinks people make responses that they think will lead to reinforcement in the situation at hand. His theories sparked debate about the importance of the person as opposed to the situation in determining behaviour. Both the person and situation are important determinents of behaviour.

h3.subsection 12-3d Evaluating Behavioural Perspectives

.para
  ul
    li Skinner = environmental consequences and conditioning
    li Bandura = learning from others
    li Mischel = situational factors

h3.subsection 12-4 Humanistic Perspectives

.para Psychoanalyic theory and behaviourism was too critical and treated humans like animals who acted on impulses. Carl Rogers was one of the founder of
  .defn
    .term Humanism
    .meaning which is a theoretical orientation that emphasizes the unique qualities of humans, especially their freedom and their potential for personal growth
  | Humanistic theorists take an optimistic view of human nature and assume that:
  ul
    li people can rise above their primitive animal heritage and control their biological urges
    li people are largely conscious and rational beings who are not dominated by unconscious, irrational needs and conflicts

.para Humanists believe that a person's subjective view is more important than objective reality. Humaninsts embrace that
  .defn
    .term phenomenological approach
    .meaning which assumes that one has to appreciate individual's personal, subjective experiences to truly understand their behaviour

h3.subsection 12-4a Rogers's Person-Centred Theory

.para A
  .defn
    .term self-concept
    .meaning is a collection of beliefs about one's own nature, unique abilities, and typical behaviour
  .defn
    .term Incongruence
    .meaning is the degree of disparity between one's self-concept and one's actual experience.

.para Children who receive conditional love from their parents block out part of their self-concept that makes them feel unworthy of love. Unconditional love fosters congruence, and conditional love fosters incongruence. Experiences that threaten personal views cause troublesome anxiety.

.para Higgins developed theory of self-discrepancy. Discrepancy between the actual self and the two standards we hold for ourselves (the ought self and ideal self) can lead to emotional discomfort and even psychopathology. The ideal self refers to the kind of person we wish to be, and the ought self refers to the kind of person we feel obligated to be.

.para Baumeister conceptualized
  .defn
    .term self-regulation
    .meaning as the self's ability to alter its actions and behaviours
  | There are two approaches: promotion and prevention focus. Promotion focus want to look at gains and benefits. Prevention wants to avoid experiencing a negative outcome.

h3.subsection 12-4b Maslow's Theory of Self-Actualization

.para Maslow proposed that human motives are organized into a
  .defn
    .term hierarchy of needs
    .meaning a systematic arrangement of needs, according to priority in which basic needs must be met before less basic needs are aroused.
  | Maslow discusses the need for
  .defn
    .term self-actualization
    .meaning which is the need to fulfill one's potential; it is the highest need in Maslow's motivational hierarchy
  | According to Maslow
  .defn
    .term self-actualizing persons 
    .meaning are people with exceptionally healthy personalities, marked by continuous personal growth

h3.subsection 12-4c Evaluating Humanistic Perspectives

.para Critics of humanistic psychology say
  ul
    li many aspects of humanistic theory are difficult to put to a scientific test
    li humanists have been unrealistically optimistic in their assumptions about human nature and their descriptions of the healthy personality
    li more emperical research is needed to solidfy the humanistic view

h3.subsection 12-5a Eysenck's Theory

.para Three traits
  ul
    li Extraversion vs introversion
    li Stability vs neuroticism
    li Psychoticism vs self-control
| Eysenck believed these traits related to a person's genes. Introverts were easily aroused so they chose to avoid people. Heritability of each trait is in the vicinity of 50 percent.