h3.subsection Chapter Introduction

.para Universities and school in general are big sources of stress. Schools now schedule stress-buster events to coincide with exam periods.

.para Traditionally, physical illness was seen purely as a biological phenonmenon. The
  .defn
    .term biopsychosocial model
    .meaning holds that physical illness is caused by complex interaction of biological, psychological, and sociocultural factors.
  .defn
    .term Health psychology
    .meaning is concerned with how psychosocial factors relate to the promotion and maintenance of health with the causation, prevention, and treatmenet of illness.

h3.subsection 14-1 The Nature of Stress

.para
  .defn
    .term Stress
    .meaning any circumstances that threaten or are perceived to threaten one's well-being and that thereby tax one's coping abilities.

h3.subsection 14-1a Stress as an Everyday Event

.para Aftermath of natural disasters typically find elevated rates of psychological problems and physical illness in the communities affected by these disasters. However, everday things such as concerns about getting to work on time contributes to stress. Stress adds up. Anite Delongis says routine hassles have significant effects on mental and physical health.

h3.subsection 14-1b Appraisal: Stress Lies in the Eye of the Beholder

.para
  .defn
    .term Primary appraisal
    .meaning is an inital evaluation of whether an event is 1) irrelevant to you. 2) relevant but not threatening. Or 3) stressful.
  | When you view an event as stressful, you are likely to make
  .defn
    .term secondary appraisal
    .meaning which is an evaluation of your coping resources and options for dealing with the stress.
  | People aren't very objective in their appraisals of potentially stressful events.

h3.subsection 14-2 Major Types of Stress

.para
  .defn
    .term Acute stressors
    .meaning are threatening events that have a relatively short duration and a clear endpoint

.para
  .defn
    .term Chronic stressors
    .meaning are threatening events that have a relatively long duration and no readily apparent time limit

h3.subsection 14-2a Frustration

.para
  .defn
    .term Frustration
    .meaning is experienced whenever the pursuit of some goal is thwarted
  | You want something but can't have it. Most frustrations are brief and insignificant.

h3.subsection 14-2b Internal Conflict

.para
  .defn
    .term Conflict
    .meaning occurs when two or more incompatible motivations or behavioural impulses compete for expresssion
  | There are three basic types of conflcit:
  ul
    li
      .defn
        .term approach-approach conflict
        .meaning a hoice must be made between two attractive goals
      | Typically the least stressful. However they can be troublesome for important issues such as picking a university.
    li
      .defn
        .term avoidance-avoidance conflict
        .meaning a choice must be made between two unattractive goals
      | Most unpleasant and highly stressful.
    li
      .defn
        .term approach-avoidance conflict
        .meaning a choice must be made about whether a single goal that has both attractive and unattractive aspects
      | Common and can be quite stressful. Approach-avoidance conflicts often produce vacillation -- go back and forth.

h3.subsection 14-2c Change

.para
  .defn
    .term Life changes
    .meaning are any substantial alterations in one's living circumstances that require readjustment. 
  | Holmes and Rahe developed the Social Readjustment Rating Scale (SRRS) to measure life change as a form of stress. The total is an index of the amount change-related stress the person has recently experienced. People wtih higher scores tend to be vulnerable to many kinds of physical illness and to many types of psychologocial problems as well.

h3.subsection 14-2d Pressure

.para Over half of Canadians surveyed said the don't have enough time to balance work and family. Time crunch makes it difficult to get a good night's sleep.
  .defn
    .term Pressure
    .meaning involves expectations or demands that one behave in a certain way.
  | Pressure to conform to other's expectations are also common in our lives. Not all pressure is from the environment. Some pressure is self-imposed. Pressure is more strongly related to measures of mental health than SRSS.

h3.subsection 14-3a Emotional Responses

.para Researches have begun to uncover some strong links between specific cognitive reactions to stress (appraisals) and specific emotions. Common emotional responses to stress include:
  ul
    li annoyance, anger, and rage
    li apprehension, anxiety, and fear
    li dejection, sadness, and grief
  | Research shows that postive emotions also occur during periods of stress. Positive emotional style is associated with an enhanced immune response. Recently discovered association between the tendency to report positive emotions and longevity.

.para Emotional responses, even negative ones, serve important purposes. However, strong emotional arouasl can also interfere with efforts to cope with stress. Emotional responses won't always hurt coping efforts. Inverted-U hypothesis predicts task performance should improve with increased emotional arousal. The level at which performance peaks is characterized as the optimal level of arousal. High arousal is better for simple tasks. Complex tasks need less arousal.

h3.subsection 14-3b Physiological Responses

.para Walter Cannon described the
  .defn
    .term flight-or-fight response
    .meaning is a physiological reaction to threat in which the autonomic nervous systemm mobilizes the organism for attach (fight) or fleeing (flight) an enemy.
  | In today's world, most stresses can't be handled simply through fight or flight.

.para Hans selye identified and named the concept of stress. Selye concluded that stress reactions are nonspecific, meaning reactions do not vary according to the specific type of stress encountered. Selye formulated the theory called the
  .defn
    .term general adaption syndrome
    .meaning is a model of the body's stress response, consisting of three stage: alarm, resistance, and exhaustion.
  ul
    li Alarm reaction -- organism recognizes the threat and body musters resources to combat the challenge (aka fight or flight).
    li Stage of resistance -- physiological changes stabilize as coping efforts get under way. Still higher arousal than normal, but may level out.
    li Stage of exhaustion -- body's resources for fighting stress are limited. Hormonal exhaustion.

