h3.subsection Chapter Introduction

.para Universities and school in general are big sources of stress. Schools now schedule stress-buster events to coincide with exam periods.

.para Traditionally, physical illness was seen purely as a biological phenonmenon. The
  .defn
    .term biopsychosocial model
    .meaning holds that physical illness is caused by complex interaction of biological, psychological, and sociocultural factors.
  .defn
    .term Health psychology
    .meaning is concerned with how psychosocial factors relate to the promotion and maintenance of health with the causation, prevention, and treatmenet of illness.

h3.subsection 14-1 The Nature of Stress

.para
  .defn
    .term Stress
    .meaning any circumstances that threaten or are perceived to threaten one's well-being and that thereby tax one's coping abilities.

h3.subsection 14-1a Stres as an Everyday Event

.para Aftermath of natural disasters typically find elevated rates of psychological problems and physical illness in the communities affected by these disasters. However, everday things such as concerns about getting to work on time contributes to stress. Stress adds up. Anite Delongis says routine hassles have significant effects on mental and physical health.

h3.subsection Appraisal: Stress Lies in the Eye of the Beholder

.para
  .defn
    .term Primary appraisal
    .meaning is an inital evaluation of whether an event is 1) irrelevant to you. 2) relevant but not threatening. Or 3) stressful.
  | When you view an event as stressful, you are likely to make
  .defn
    .term secondary appraisal
    .meaning which is an evaluation of your coping resources and options for dealing with the stress.
  | People aren't very objective in their appraisals of potentially stressful events.

h3.subsection 14-2 Major Types of Stress

.para
  .defn
    .term Acute stressors
    .meaning are threatening events that have a relatively short duration and a clear endpoint

.para
  .defn
    .term Chronic stressors
    .meaning are threatening events that have a relatively long duration and no readily apparent time limit
