h3.subsection Chapter Introduction

.para Universities and school in general are big sources of stress. Schools now schedule stress-buster events to coincide with exam periods.

.para Traditionally, physical illness was seen purely as a biological phenonmenon. The
  .defn
    .term biopsychosocial model
    .meaning holds that physical illness is caused by complex interaction of biological, psychological, and sociocultural factors.
  .defn
    .term Health psychology
    .meaning is concerned with how psychosocial factors relate to the promotion and maintenance of health with the causation, prevention, and treatmenet of illness.

h3.subsection 14-1 The Nature of Stress

.para
  .defn
    .term Stress
    .meaning any circumstances that threaten or are perceived to threaten one's well-being and that thereby tax one's coping abilities.
