h3.subsection Chapter Introduction

.para Universities and school in general are big sources of stress. Schools now schedule stress-buster events to coincide with exam periods.

.para Traditionally, physical illness was seen purely as a biological phenonmenon. The
  .defn
    .term biopsychosocial model
    .meaning holds that physical illness is caused by complex interaction of biological, psychological, and sociocultural factors.
  .defn
    .term Health psychology
    .meaning is concerned with how psychosocial factors relate to the promotion and maintenance of health with the causation, prevention, and treatmenet of illness.

h3.subsection 14-1 The Nature of Stress

.para
  .defn
    .term Stress
    .meaning any circumstances that threaten or are perceived to threaten one's well-being and that thereby tax one's coping abilities.

h3.subsection 14-1a Stress as an Everyday Event

.para Aftermath of natural disasters typically find elevated rates of psychological problems and physical illness in the communities affected by these disasters. However, everday things such as concerns about getting to work on time contributes to stress. Stress adds up. Anite Delongis says routine hassles have significant effects on mental and physical health.

h3.subsection 14-1b Appraisal: Stress Lies in the Eye of the Beholder

.para
  .defn
    .term Primary appraisal
    .meaning is an inital evaluation of whether an event is 1) irrelevant to you. 2) relevant but not threatening. Or 3) stressful.
  | When you view an event as stressful, you are likely to make
  .defn
    .term secondary appraisal
    .meaning which is an evaluation of your coping resources and options for dealing with the stress.
  | People aren't very objective in their appraisals of potentially stressful events.

h3.subsection 14-2 Major Types of Stress

.para
  .defn
    .term Acute stressors
    .meaning are threatening events that have a relatively short duration and a clear endpoint

.para
  .defn
    .term Chronic stressors
    .meaning are threatening events that have a relatively long duration and no readily apparent time limit

h3.subsection 14-2a Frustration

.para
  .defn
    .term Frustration
    .meaning is experienced whenever the pursuit of some goal is thwarted
  | You want something but can't have it. Most frustrations are brief and insignificant.

h3.subsection 14-2b Internal Conflict

.para
  .defn
    .term Conflict
    .meaning occurs when two or more incompatible motivations or behavioural impulses compete for expresssion
  | There are three basic types of conflcit:
  ul
    li
      .defn
        .term approach-approach conflict
        .meaning a hoice must be made between two attractive goals
      | Typically the least stressful. However they can be troublesome for important issues such as picking a university.
    li
      .defn
        .term avoidance-avoidance conflict
        .meaning a choice must be made between two unattractive goals
      | Most unpleasant and highly stressful.
    li
      .defn
        .term approach-avoidance conflict
        .meaning a choice must be made about whether a single goal that has both attractive and unattractive aspects
      | Common and can be quite stressful. Approach-avoidance conflicts often produce vacillation -- go back and forth.

h3.subsection 14-2c Change

.para
  .defn
    .term Life changes
    .meaning are any substantial alterations in one's living circumstances that require readjustment. 
  | Holmes and Rahe developed the Social Readjustment Rating Scale (SRRS) to measure life change as a form of stress. The total is an index of the amount change-related stress the person has recently experienced. People wtih higher scores tend to be vulnerable to many kinds of physical illness and to many types of psychologocial problems as well.

h3.subsection 14-2d Pressure

.para Over half of Canadians surveyed said the don't have enough time to balance work and family. Time crunch makes it difficult to get a good night's sleep.
  .defn
    .term Pressure
    .meaning involves expectations or demands that one behave in a certain way.
  | Pressure to conform to other's expectations are also common in our lives. Not all pressure is from the environment. Some pressure is self-imposed. Pressure is more strongly related to measures of mental health than SRSS.

h3.subsection 14-3a Emotional Responses

.para Researches have begun to uncover some strong links between specific cognitive reactions to stress (appraisals) and specific emotions. Common emotional responses to stress include:
  ul
    li annoyance, anger, and rage
    li apprehension, anxiety, and fear
    li dejection, sadness, and grief
  | Research shows that postive emotions also occur during periods of stress. Positive emotional style is associated with an enhanced immune response. Recently discovered association between the tendency to report positive emotions and longevity.

.para Emotional responses, even negative ones, serve important purposes. However, strong emotional arouasl can also interfere with efforts to cope with stress. Emotional responses won't always hurt coping efforts. Inverted-U hypothesis predicts task performance should improve with increased emotional arousal. The level at which performance peaks is characterized as the optimal level of arousal. High arousal is better for simple tasks. Complex tasks need less arousal.

h3.subsection 14-3b Physiological Responses

.para Walter Cannon described the
  .defn
    .term flight-or-fight response
    .meaning is a physiological reaction to threat in which the autonomic nervous systemm mobilizes the organism for attach (fight) or fleeing (flight) an enemy.
  | In today's world, most stresses can't be handled simply through fight or flight.

.para Hans selye identified and named the concept of stress. Selye concluded that stress reactions are nonspecific, meaning reactions do not vary according to the specific type of stress encountered. Selye formulated the theory called the
  .defn
    .term general adaption syndrome
    .meaning is a model of the body's stress response, consisting of three stage: alarm, resistance, and exhaustion.
  ul
    li Alarm reaction -- organism recognizes the threat and body musters resources to combat the challenge (aka fight or flight).
    li Stage of resistance -- physiological changes stabilize as coping efforts get under way. Still higher arousal than normal, but may level out.
    li Stage of exhaustion -- body's resources for fighting stress are limited. Hormonal exhaustion.

.para There are two major pathways along which te brain sends signals to the endocrine system in response to stress. The first pathway is through the ANS. Body releases large amounts of catecholamines into the bloodstream. Results in body being mobilized for action -- heart rate and blood flow increase, and more blood is pumped to your brain and muscles.

.para The second pathway sends a signal to pituitary which secretes a hormone (ACTH), which ends up in the release of corticosteroids, which stimulate the release of chemicals that help increase your energy and help inhibit tissue inflammation in case of injury.

.para New findings show that stress can interfere with
  .defn
    .term neurogenesis
    .meaning the formation of new neurons
  | primarily in key areas in the hippocampus

h3.subsection 14-3c Behavioural Responses

.para
  .defn
    .term Coping
    .meaning refers to active efforts to master, reduce, or tolerate the demands created by stress
  | Coping responses may be adaptive or maladaptive
  .defn
    .term Learned helplessness
    .meaning is passive behaviour produced by exposure to unavoidable events
  | Happens when individuals come to believe events are beyond their control. Can contribute to depression. People who are better able to disengage from unattainable goals report better health and exhibit lower levels of key stress hormone.

.para According to Albert Ellis, catastrophic thinking causes, aggravates, and perpetuates emotional reactions to stress that are often problematic. Aaron Beck argues negative self-talk can contribute to the development of depressive disorders.

.para
  .defn
    .term Aggression
    .meaning is any behaviour that is intended to hurt someone, either physically or verbally.
  | There is the frustration-aggression hypothesis which supported the idea of a causal link between frustration and aggression. However, there is not an inevitable, one-to-one correspondence.

.para
  .defn
    .term Catharsis
    .meaning refers to the release of emotional tension through aggression
  | Freud thought it was a good idea to vent anger. However, studies have shown behaving in an aggressive manner tends to fuel more anger and aggression.

.para Stress sometimes leads to reduced impulse control, or self-indulgence. People eat more and unhealthy, drink more and do more drugs, gamble, or shop more when they are stressed. Stress increases compulsive consumption. Recently, Kimberly Young has brought up a new syndrome called Internet Addiction:
  ul
    li excessive time online
    li anger and depression when thwarted from being online
    li an escalating need for better equipment and connections
    li adverse consequences, such as arguments and lying about Internet use, social isolation, and reduction in academic or work performance
  | Internet addiction affects 6 perecent of the population from 31 nations. Internet addiction is associated with increased levels of anxiety, depression, and alcohol use.

.para
  .defn
    .term Defence mechanisms
    .meaning are largely unconscious reactions that protect a person from unpleasant emotions, such as anxiety and guilt.
  | Self-deception: distorting reality so it doesn't appear threatening. Less than optimal because avoidance and wishful thinking rarely solve personal problems. Some evidence suggests "positive illusions" can sometimes be adaptive for mental health. Baumeister claims extreme distortions are maladpative, but small illusions can be beneficial. Some of these defense mechanisms include:
  ul
    li
      .defn
        .term Denial of reality
        .meaning protecting oneself from unpleasant reality by refusing to perceive or face it
    li
      .defn
        .term Fantasy
        .meaning gratifying frustrated desires by imaginary achievements
    li
      .defn
        .term Intellectualization (isolation)
        .meaning Cutting off emotions from hurtful situations or separating incompatible attitudes so that they appear unrelated
    li
      .defn
        .term Undoing
        .meaning Atoning for or trying to magically dispel unacceptable desires or acts
    li
      .defn
        .term Overcompensation
        .meaning Covering up felt weakness by emphasizing some desirable characterisitics, or making up for frustration in one are by over gratification in another

.para
  .defn
    .term Constructive coping
    .meaning refers to relatively healthful efforts that people make to deal with stressful events.
  | Important to note that no strategy of coping an guarantee a sucessful outcome. Key steps of constructive coping:
  ul
    li Confront problems directly. Rationally evaluate options to solve problems.
    li Realisitic appraisals of your stress and coping resources.
    li Recognize and maybe regulate disuptive emotional reactions to stress

h3.subsection 14-4a Burnout

p
  .defn
    .term Burnout
    .meaning involves physical and emotional exhaustion, cynicism, and a lowered sense of self-eficacy that can be brought on gradually by chronic work-related stress
  | Workers who are burned out are more likely to be less commited to the job, call in sick, and be less productive at work. Burnout causes include work overload, interpersonal conflicts, lack of control on outcomes, and inadequate recognition for completing work.

h3.subsection 14-4b Post-Traumatic Stress Disorder

p
  .defn
    .term Post-traumatic stress disorder (PTSD)
    .meaning involves enduring psychological disturbance attributed to experience of a major traumatic event.
  | Soliders with PTSD from war include symptoms such as chronic musculoskeletal disorders and obesity. Increasing PTSD rates with front-line occuptions, such as police officers, firefighters, paramedics and even transit workers. Carelton: Almost half (44.5%) of the sample of front-line workers reported symptoms consistent with a serious mental illness.

h3.subsection 14-5a Personality, Hostility, and Heart Disease

p
  .defn
    .term Type A personality
    .meaning includes three elements: 1) a strong competitive nature 2) impatience and time urgency 3) anger and hostility
  .defn
    .term Type B personality
    .meaning is marked by relatively relaxed, patient, easygoing, amicable behaviour
  | Relatively modest correlation between Type A behaviour and increased coronary risk. Also a slightly weaker correlation with heart disease. Anger and hostility were the important components. Hostility may be the crucial toxic element in the type A syndrome. Anger nearly tripled risk of coronary disease.

h3.subsection 14-5b Emotional reactions, depression, and heart disease

p Mental stress can elicit cardiac symptoms in about 30-70% of coronary patients. Evidence suggests that the emotional dysfunction of depression may cause heart disease.

h3.subsection 14-5c Stress, Other Diseases, and Immune Functioning

p The 
  .defn
    .term immune response
    .meaning is the body's defensive reaction to invasion by bacteria, viral agents, or other foreigh substances.
  | Stress can impair immune functioning. Research suggests that long-term stress can sometimes promote chronic inflammation.

h3.subsection 14-5d Sizing Up the Link between Stress and Illness

p All research between stress and illness is correlational. The strength of the relationship between stress and health is modest. The correlations typcally fall in the 0.20s and 0.30s.

h3.subsection 14-6a Social Support

p
  .defn
    .term Social support
    .meaning refers to various types of aid and emotional sustenance provided by members on one's social networks. 
  | Social support leads to greater immune functioning and physical health. Social isolation predicts reduced immune responding. Social support increased people's odds of survival be roughly 50%. People suffering from depression and low self-esteem are particularly sensitive to the absence of social support. Denise Marigold examined the association between low self-esteem and social support. People don't want only positive support and to not talk about negatives. People want support that validate the negative thoughts and feelings of those with low self esteem.

p
  .defn
    .term Explicit social support
    .meaning overt emotional solace and instrumental aid from others
  .defn
    .term Implicit social support
    .meaning the comfort that comes from knowing that one has access to close others who will be supportive
  | Americans generally prefer explicity social support, where as Asians benefit from implicit social support, because they don't want to strain friends.

p Over two thirds of those who felt they had a strong sense of community belonging reported good physical health and over 80 percent of those with a strong sense of community beloning reported good mental health.

h3.subsection 14-6b Optimism, Conscientiousness, and Hardiness

p
  .defn
    .term Optimism
    .meaning is a general tendency to expect good outcomes
  | Correlations between optimism and relatively good mental health, more effective immune functioning, greater cardiovascular health, increased longevity. Optimists cope with stress in more adaptive ways than pessimists. Action-orientated, problem-focused coping. Optimists enjoy more social support.

p
  .def
    .term Conscientiousness
    .meaning dilligent, well organized, punctual. Associated with strong self-discipline and regulate oneself.
  | Less likely to exhibit unhealth habits such as drinking, drug abuse, dangerous driving.Rely on constructive coping strategies. Promote better adherence to medical advice. Higher educational attainment and job performance -> upper class economic status which generally has healthier habits.

p
  .defn
    .term Hardiness
    .meaning is a constellation of attitudes, beliefs, and behavioural tendencies that consists of three components: commitment, control, and challenge.
  | Approach difficult tasks as challenges. Work is important and they are committed to it.See themselves as in control of their time and efforts.

h3.subsection 14-6c Stress Mindset

p Stress-is-delibitating mindset means you think stress is bad for you. Stress is enhancing mindset means you think stress is an opportunity for growth.

h3.subsection 14-6f Postive effects of stress

p Research on resilience suggests that stress can promote personal growth. Can make people develop new skills. Moderate amount of stress can foster resilience. Intermediate levels of adversity were predictive of the greatest resilience.

h3.subsection 14-7a Smoking

p Lung cancer and heart disease kill the largest number of smokers. Smokers have elevated risk of oral, bladder, and kidney cancers, as well as cancers of the larynx, esophagus, and pancreas, Arterioscerloris, hyptertension, stroke, and other cardiovascular disease. Basically lots of things. 

p Second hand smoke makes people vulnerable to lung cancer, and heart disease. 

p When people give up smoking, health risks decline reasonably quickly. Long term success rates of giving up smoking peak in the vicinity of only 25 percent.

h3.subsection 14-7b Lack of exercise

p 150 minutes a week of moderate-to-vigorous physical activity in bouts of at least 10 minutes. Only 17% of mean and 14& of women currently achieve this level of exercise. Exercise programs can enhance cardivascular fitness. Exercise can indirectly reduce one's risk of a variety of obesity-related health problems such as diabetes and respiratory difficulties. Exercise can help diminish chronic inflammation. Exercise can serve as a buffer from damaging physical effects of stress. Exercise is associated with a reduction in brain shrinkage normally seen after age 60.

h3.subsection 14-7c Alcohol and Drug Use

p Heavy consumption of alcohol clearly increases one's risk of a host of diseases. Drugs can kill directly and immediately when they are taken in overdose or when they impair the user enough to cause an accident. Recreational drugs can also increase risk of various infections and problems.

h3.subsection 14-5d Behaviour and AIDS

p
  .defn
    .term acquired immune deficiency syndrome (AIDS)
    .meaning a disorder in which the immune system is gradually weakened and eventually disabled by human immunodeficiency virus (HIV).
  | AIDS is the final stage of the HIV infection process, typically manifested about ten years after the original infection.

p There has been a general decrease in Canada in reported HIV and AIDS cases since reporting begain in 1985. However, worldwide rates continue to increase at an alarming rate, with specific regions in Africa having disproportionally high rates. In North America, sexual transmission has occurred primarily among gay and bisexual men. 50.3 percent of HIV cases remains in the category of MSM. Hetrosexual contact represented 32.6% of cases.

h3.subsection 14-8a Deciding to Seek Treatment

p People who are more anxious and higher in neuroticism tend to report more symptoms of illness than others do. There are two roadblocks for medical help: wait times for ER and specialist care in Canda, and variations in how individuals appraise and react to health concerns. Income level, gender, and whether you live in a city or rural area in Canada affect the frequency of seeing a physician.

p Tendency of many people to delay the pursuit of needed professional consultation. Early intervention can allow for more effective treatment in many problems. People delay often, because:
  ul
    li misinterpret and downplay significance of their symptoms
    li worry about looking silly over nothing
    li worry about bothering doctors
    li reluctant to disrupt plans
    li waste time on trivial matters (shower, gathering personal items, or packing clothes) before going to a hospital emergency room

h3.subsection 14-8b Communicating with Health Providers

p A large potion of patients leave doctor not understanding what they are told or are supposed to do. Economic realities cause for short visits with little time for discussion. Some times too much jargon is used. People sometimes forget to report or don't report in fear of being diagnosed with something big. People should not be passive consumers of medical services. People should bring questions, ask for clarifications and not be afraid to voice concerns.

h3.subsection 14-8c Adhering to medical advice

p Nonadherence occurs 30 percent of the time for short term treatments, and 50 percent of the time for long-term treatments. Nonadherence is linked to increased sickness, treatment failures, and higher mortality. Most commonly reported reason for non-adherence is forgetting. Adherence is improve with social support that reminds and helps with treatment. Other things that influence likeliness of nonadherence:
  ul
    li Patients don't understand the instructions that are given
    li Prescribed regimen is unpleasant, or interfere with routine behaviour
    li Negative attitude towards physician

h3.subsection 14-9 Putting it in perspective: themes 4 and 7

p Most stress management programs encourage people to confront stress rather than sidestep it. Albert Ellis devised
  .defn
    .term Rational-emotive therapy
    .meaning which is an approach that focuses on altering client's patterns of irrational thinking to reduce maladaptive emotions and behaviours
  | Ellis maintained the importance of "you feel the way you think." 
  .defn
    .term Catastrophic thinking
    .meaning involves unrealistic negative appraisals of stress that exagerate the magnitude of one's problems

p Herbet Lecouft and colleagues argue that high-humour people may benefit from not taking themselves as seriously as low-humour people. Animal assisted therapy (AAT) is shown to help with stress, however there is not enough research to prove it works. Some people talk about the importance of relaxation and meditation or listening to music to help you relieve stress.
