h3.subsection Introduction

p In any given year, one in five Canadians experience mental illness or problems. The use of antianxiety and antidepressant medications has increased significantly in recent decades. Costs Canada at least 50 billion annually, and will cost economy more than 2.5 trillion in next three decades

h3.subsection 15-1a The Medical model applied to abnormal behaviour

p
  .defn
    .term Medical model
    .meaning proposes that it is useful to think of abnormal behaviour as a disease
  | The medical model became the dominant way of thinking during 18th and 19th centuries. Before, abnormal behaviour was based on superstition. With the medical model, they were viewed with more sympathy and less hatred and fear. Ineffectual approaches eventually turned into scientific investigation of causes and cures. Being label mentally ill carries a social stigma of erratic, dangerous, incompetent, and inferior. This causes stress for people with a mental illness.
 
p In recent decades, psychological disorders have been partly attributed to genetic and biological factors, making them more similar to physical illnesses which cause less stigma. Szasz was a critic of the medical model, saying illness can only affect the body and not the mind. He also said abnormal behaviour usually involves a deviation from the norm.

p Medical model continues to dominate thinking about psychological disorders. Some valuable terms:
  ul
    li
      .defn
        .term Diagnosis
        .meaning involves distinguishing one illness from another
    li
      .defn
        .term Etiology
        .meaning refers to the apparent causation and developmental history of an illness
    li
      .defn
        .term Prognosis
        .meaning is a forecast about the probably course of an illness

h3.subsection 15-1b Criteria of abnormal behaviour

p Clinicians rely on a variety of criteria:
  ul
    li Deviance. Behaviour deviates from what their society considers acceptable.
    li Maladaptive behaviour. People's everyday adapative behaviour is impaired. Typically drug use.
    li Personal distress. Individual's report of great personal distress. Labelled for having a disorder when describing their subjective pain.

p Diagnoses of psychological disorders involve value judgements about what respresents normal or abnormal behaviour, but these reflect cultural values, social trends, political forces, and scientific knowledge.

p Can't draw a clear line that seperates normality from abnormality, instead it's more of a continuum.

h3.subsection 15-1c Stereotypes of psychological disorders

p Largely inaccurate sterotypes:
  ul
    li "Psychological disorders are incurable" -- people who get better greatly outnumber those who do not get better from treatment
    li "People with psychological disorders are often violent and dangerous" -- only true for small number of cases usually involving severe disorders. Only a modest association between mental illness and violence prone tendencies.
    li "People with psychological disorders behave in bizarre ways and are very different from normal people" -- Only true for small minority of cases. Rosenhan's study showed that people who were "hearing stuff" acted normal for everything beside their one symptom.

h3.subsection 15-1d Psychodiagnosis: The classifcation of disorders

p Classification system by APA: Diagnostic and Statistical Manual of Mental Disorders. One criticism this has goteen is that it assumes people can reliably be placed in discontinuous(nonoverlapping) diagnostic categories. Some theorists aregu that this should be replaced by a dimensional approach -> describe disorders in terms of how people score on a limited nmber of continuous dimensions. Thr problem here is experts would have to agree about which dimensions to use and how to measure them.

p Another area of concern is the near exponential growth of categories. Some are breaking down an existing category, but much of it is adding new disorders. Some of the new disorders are seen as mundane, everyday adjustment problems, instead of mental disorders.

h3.subsection 15-1e Alternative Diagnostic Systems

p Most recent WHO system is the ICD-10 -- the International Classification of Disease and Health Related Problems (10th edition). More likely to be encountered in Europe than North America.

p The National Institute of Mental Health (NIMH) working on development of Research Domain Criteria Project (RDoC). Primarily for research purposes and the system is based on dimensions of observable behaviour and neurobiological measures.

h3.subsection 15-1f The Prevalence of Psychological Disorders

p
  .defn
    .term Epidemiology
    .meaning the study of the distribution of mental or physical disorders in a population
  .defn
    .term Prevalence
    .meaning refers to the percentage of a population that exhibits a disorder during a specified time period

p 1980s and early 1990s found pyschological disorders in roughly one third of the population. Subsequent research found 44% of population will have psychological disorder at some point in their life. Most recent large scale study found lifetime risk of psychiatric disorder is 51%. The debate is about drawing the line between normal difficulties and full fledged mental illness.

p Most prevalent disorders in North America: 1) substance use disorders, 2) anxiety disorders, 3) depression. One in ten Canadians reported symptom consisent with these disorders in past year. One in 3 in life time. 21.8% substance use disorder in life time. 12.6% mood disorder.

p By age 40, one half will have or have had a mental illness. 68% of people who reported symptoms of disorders did not seek assistance.

h3.subsection 15-2a Anxiety Disorders

p
  .defn
    .term Anxiety disorders
    .meaning are a class of disorders marked my feelings of excessive apprehension and anxiety
  | Anxiety orders are quite common and occur in roughly 19 percent of the population.

p
  .defn
    .term Generalized anxiety disorder
    .meaning is marked by a chonic, high level of anxiety and is not tied to any specific threat
  | Often dread decisions and brood over them endlessly.

p
  .defn
    .term Specific phobia
    .meaning involves a persistent and irrational fear of an object or situation that presents no realistic danger
  | Trypophobia -- show an aversion to images of holes
  | Phobic fears appear to be quite common, as the lifetime prevalence of specific phobias is estimated to be around 10 percent; two-thirds of the victims are females

p
  .defn
    .term Panic disorder
    .meaning is characterized by recurrent attacks of overwhelming anxeity usually occur suddenly and unexpectedly.
    | Accompanied by physical symptoms of anxiety. Victims always wondering when their next panic attack will occur. Two-thirds of people diagnosed with panic disorder are female. Onset typically occurs in late adolescence or early adulthood.

p
  .defn 
    .term Agoraphobia
    .meaning the fear of going out to public places
  | Many will venture out with a trusted companion. May or may not co-exist with panic disorder.

h3.subsection 15-2b Obsessive-Compulsive Disorder

p Body dysmporhic disorder --> individual has a unrelenting preoccupation with what he or she perceives to be a physical flaw. Excoriation --> skin-picking disorder. Hoarding disorder.

p
  .defn
    .term Obsessive-compulsive disorder (OCD)
    .meaning is marked by persistent, uncontrollable intrusions of unwanted thoughts (obsessions) and urges to engage in senseless rituals (compulsions).
  | Specific types of compulsions tend to be associated with specific types of compulsions. Full-fledged obsessive-compulsive disorders occur in roughly 2-3 percent. OCD is unusual among anxiety-related problems in that it is seen in males and females in roughly equal numbers. Laura Summerfeldt -> OCD is unitary. Martin Antony -> may be a heterogeneous disorder.

p Hording behaviour tends to increase with age and the hoarder's family is often complicit in the disorder, by enabling the hoarding. Sheila Woody attempting to better understand the etiology of compulsive hoarding and how best to treat it.

h3.subsection 15-2c Post-Traumatic Stress Disorder (PTSD)
