h3.subsection Introduction

p In any given year, one in five Canadians experience mental illness or problems. The use of antianxiety and antidepressant medications has increased significantly in recent decades. Costs Canada at least 50 billion annually, and will cost economy more than 2.5 trillion in next three decades

h3.subsection 15-1a The Medical model applied to abnormal behaviour

p
  .defn
    .term Medical model
    .meaning proposes that it is useful to think of abnormal behaviour as a disease
  | The medical model became the dominant way of thinking during 18th and 19th centuries. Before, abnormal behaviour was based on superstition. With the medical model, they were viewed with more sympathy and less hatred and fear. Ineffectual approaches eventually turned into scientific investigation of causes and cures. Being label mentally ill carries a social stigma of erratic, dangerous, incompetent, and inferior. This causes stress for people with a mental illness.
 
p In recent decades, psychological disorders have been partly attributed to genetic and biological factors, making them more similar to physical illnesses which cause less stigma. Szasz was a critic of the medical model, saying illness can only affect the body and not the mind. He also said abnormal behaviour usually involves a deviation from the norm.

p Medical model continues to dominate thinking about psychological disorders. Some valuable terms:
  ul
    li
      .defn
        .term Diagnosis
        .meaning involves distinguishing one illness from another
    li
      .defn
        .term Etiology
        .meaning refers to the apparent causation and developmental history of an illness
    li
      .defn
        .term Prognosis
        .meaning is a forecast about the probably course of an illness

h3.subsection 15-1b Criteria of abnormal behaviour

p Clinicians rely on a variety of criteria:
  ul
    li Deviance. Behaviour deviates from what their society considers acceptable.
    li Maladaptive behaviour. People's everyday adapative behaviour is impaired. Typically drug use.
    li Personal distress. Individual's report of great personal distress. Labelled for having a disorder when describing their subjective pain.

p Diagnoses of psychological disorders involve value judgements about what respresents normal or abnormal behaviour, but these reflect cultural values, social trends, political forces, and scientific knowledge.

p Can't draw a clear line that seperates normality from abnormality, instead it's more of a continuum.

h3.subsection 15-1c Stereotypes of psychological disorders

p Largely inaccurate sterotypes:
  ul
    li "Psychological disorders are incurable" -- people who get better greatly outnumber those who do not get better from treatment
    li "People with psychological disorders are often violent and dangerous" -- only true for small number of cases usually involving severe disorders. Only a modest association between mental illness and violence prone tendencies.
    li "People with psychological disorders behave in bizarre ways and are very different from normal people" -- Only true for small minority of cases. Rosenhan's study showed that people who were "hearing stuff" acted normal for everything beside their one symptom.

h3.subsection 15-1d Psychodiagnosis: The classifcation of disorders

p Classification system by APA: Diagnostic and Statistical Manual of Mental Disorders. One criticism this has goteen is that it assumes people can reliably be placed in discontinuous(nonoverlapping) diagnostic categories. Some theorists aregu that this should be replaced by a dimensional approach -> describe disorders in terms of how people score on a limited nmber of continuous dimensions. Thr problem here is experts would have to agree about which dimensions to use and how to measure them.

p Another area of concern is the near exponential growth of categories. Some are breaking down an existing category, but much of it is adding new disorders. Some of the new disorders are seen as mundane, everyday adjustment problems, instead of mental disorders.

h3.subsection 15-1e Alternative Diagnostic Systems

p Most recent WHO system is the ICD-10 -- the International Classification of Disease and Health Related Problems (10th edition). More likely to be encountered in Europe than North America.

p The National Institute of Mental Health (NIMH) working on development of Research Domain Criteria Project (RDoC). Primarily for research purposes and the system is based on dimensions of observable behaviour and neurobiological measures.

h3.subsection 15-1f The Prevalence of Psychological Disorders

p
  .defn
    .term Epidemiology
    .meaning the study of the distribution of mental or physical disorders in a population
  .defn
    .term Prevalence
    .meaning refers to the percentage of a population that exhibits a disorder during a specified time period

p 1980s and early 1990s found pyschological disorders in roughly one third of the population. Subsequent research found 44% of population will have psychological disorder at some point in their life. Most recent large scale study found lifetime risk of psychiatric disorder is 51%. The debate is about drawing the line between normal difficulties and full fledged mental illness.

p Most prevalent disorders in North America: 1) substance use disorders, 2) anxiety disorders, 3) depression. One in ten Canadians reported symptom consisent with these disorders in past year. One in 3 in life time. 21.8% substance use disorder in life time. 12.6% mood disorder.

p By age 40, one half will have or have had a mental illness. 68% of people who reported symptoms of disorders did not seek assistance.

h3.subsection 15-2a Anxiety Disorders

p
  .defn
    .term Anxiety disorders
    .meaning are a class of disorders marked my feelings of excessive apprehension and anxiety
  | Anxiety orders are quite common and occur in roughly 19 percent of the population.

p
  .defn
    .term Generalized anxiety disorder
    .meaning is marked by a chonic, high level of anxiety and is not tied to any specific threat
  | Often dread decisions and brood over them endlessly.

p
  .defn
    .term Specific phobia
    .meaning involves a persistent and irrational fear of an object or situation that presents no realistic danger
  | Trypophobia -- show an aversion to images of holes
  | Phobic fears appear to be quite common, as the lifetime prevalence of specific phobias is estimated to be around 10 percent; two-thirds of the victims are females

p
  .defn
    .term Panic disorder
    .meaning is characterized by recurrent attacks of overwhelming anxeity usually occur suddenly and unexpectedly.
    | Accompanied by physical symptoms of anxiety. Victims always wondering when their next panic attack will occur. Two-thirds of people diagnosed with panic disorder are female. Onset typically occurs in late adolescence or early adulthood.

p
  .defn 
    .term Agoraphobia
    .meaning the fear of going out to public places
  | Many will venture out with a trusted companion. May or may not co-exist with panic disorder.

h3.subsection 15-2b Obsessive-Compulsive Disorder

p Body dysmporhic disorder --> individual has a unrelenting preoccupation with what he or she perceives to be a physical flaw. Excoriation --> skin-picking disorder. Hoarding disorder.

p
  .defn
    .term Obsessive-compulsive disorder (OCD)
    .meaning is marked by persistent, uncontrollable intrusions of unwanted thoughts (obsessions) and urges to engage in senseless rituals (compulsions).
  | Specific types of compulsions tend to be associated with specific types of compulsions. Full-fledged obsessive-compulsive disorders occur in roughly 2-3 percent. OCD is unusual among anxiety-related problems in that it is seen in males and females in roughly equal numbers. Laura Summerfeldt -> OCD is unitary. Martin Antony -> may be a heterogeneous disorder.

p Hording behaviour tends to increase with age and the hoarder's family is often complicit in the disorder, by enabling the hoarding. Sheila Woody attempting to better understand the etiology of compulsive hoarding and how best to treat it.

h3.subsection 15-2c Post-Traumatic Stress Disorder (PTSD)

p In some instances, PTSD does not surface until many months or years after a person's exposure to severe stress and is tied to memory for the events. Research suggests that 7-8% of people have PTSD some point in their lives. Women 10%. Men 10%.

p Increased vulnerability is associated with greater personal injury and losses, greater intensity of exposure to the traumatic event, and more exposure to the grotesque aftermath. Reaction of children are often overlooked. Key predictor of vulnerability: intensity of one's reaction at the time of the traumatic event.

p The frequence and severity of post-traumatic symptoms usually decline gradually over time, but recovery tends to be gradual and in many cases, the symptoms never completely disappear

h3.subsection 15-2d Etiology of anxiety and anxiety-related disorders

p
  .defn
    .term Concordance rate
    .meaning indicates the percentage of twin pairs or other pairs of relatives who exhibit the same disorder
  | The results of both twin studies and family studies suggest a moderate genetic predisposition to anxiety disorders.
  |
p Disturbances in the neural circuits using GABA may play a role in some types of anxeity disorders. Abnormalties in neural circuits using serotonin has been implicated in obsessive-compulsive disorder. 

p Many anxiety responses may be acquired through classical conditioning and maintained through operant conditioning. Once a fear is acquired through classical conditioning, the person may start avoiding the anxiety-producing stimulus. The avoidance response is negatively reinforced because it is followed my a reduction in anxiety.

p Martin Selligman's concept of 
  .defn
    .term preparedness
    .meaning suggests that people are biologically prepared by their evolutionary history to acquire some fears much more easily than others.

p Cognitive theories main that certain styles of thinking make some people particularly vulnerable to anxeity disorders. People more likely to suffer from anxiety disorders tend to
  ul
    li Misinterpret harmless situations as threatening
    li Focus excessive attention on perceived threats
    li Selectively recall information that seems threatening
  | Consistent with subjective human experience, people are prone to anxiety disorders because they see threat in every corner of their lives

p Faravelli and Pallanti found their patients with panic disorders had experienced a dramatic increase in stress in the month prior to onset of their disorder. Similar case with OCD -- stress levels are predictive. High stress levels often help to precipitate or to aggravate anxiety disorders.

p Weak correlational methods that could inflate the apparent effects of childhood anxiety adversite and that do not permit conclusions about causality. However sheer number and consistency of the finding suggest that childhood trauma may have long-term ripple effects that heighten individual's vulnerability to a broad range of psychological disorders.

h3.subsection 15-3 Dissociative Disorders

p
  .defn
    .term Dissociative disorders
    .meaning are a class of disorders in which people lose contact with portions of their consciousness or memory, resulting in disruptions in their sense of identity

h3.subsection 15-3a Description

p
  .defn
    .term Dissociative amnesia
    .meaning is a sudden loss of memory for important personal information that is too extensive to be due to normal forgetting
  | Memory losses can be for a single traumatic event or for an extended period surrounding an event.

p
  .defn
    .term Dissociative identity disorder (DID)
    .meaning involves a disruption of identity marked by the experience of two or more largely complete, and usually very different, personalities.
  | Used to be called multiple personality disorder.
  | Modern view is that an individual has failed to integrate incongruent aspects of their personalityinto a normal, coherent whole.
  | Various personalities generally report that they are unaware of each other, although objective measures of memory suggest otherwise
  | Other theorists argue that a handful of clinicians have begun overdiagnosing the condition and that some clinicians unwittingly reinfoce patients for progressively showing a seemingly exotic or exciting disorder.

h3.subsection 15-3b Etiology of Dissociative Disorders

p Dissociative amnesia is usually attributed to excessive stress.

p For dissociative identity disorders, some theorists think that people come to believe in DID through movie portrayals and reinforcement from therapists. Independent entities within them are to blame. Recent researches suggest that sleep disturbances can amplify dissociative symptoms.

p Another theory is dissociative identity disorder are rooted in severe emotional trauma tha occurred during childhood. Overall, little is known about the causes of dissociative identity disorder.

h3.subsection 15-4 Depressive and Bipolar Disorders

p People with depressive and bipolar disorders may still acheive greatness, because such disorders tend to be episodic.

p In one survey, 80 percent of Canadian workers who suffered from depression reported that it interfered with their ability to work

p People with major depressive disorder experience emotional extremes at just one end of the mood continuum because they experience periodic bouts of depression. People with bipolar disorders generally experience emotional extremes at both ends of the mood continuum, going through periods of both depression and mania.

h3.subsection 15-4a Major depressive disorder

p
  .defn
    .term Major depressive disorder
    .meaning people show persistent feelings of sadness and despair and a loss of interest in previous sources of pleasure.
  .defn
    .term Anhedonia
    .meaning a diminished ability to experience pleasure
  | Lack the energy or motivation to tackle the tasks of living to the point where they often have trouble getting out of bed. Alterations in appetite and sleep patterns are common.

p Depression occurs in children and adoloscents, as well as adults, although rates of depression are notably lower in children and somewhat lower in adoloscents. The average number of dpressive episodes is five to six. The average length of these episodes is about five to seven months.

p Lifetime prevalence is estimated to be around 13-16 percent. Research indicates that the prevalence of depression is about twice as high in women as it is in men. Women's elevated vulnerability to depression at certain points in their reproductive cycle partly contributes to this. Susan Nolen-Hoeksema attributes a portion of the higher prevalence of depression amongwomen to their experience of greater stress and anxiety.

h3.subsection 15-4b Bipolar Disorder

p
  .defn
    .term Bipolar I disorder (asmanic-depressive disorder)
    .meaning is characterized by the experience of one or more manic episodes as well as periods of depressions
  | One manic episode is sufficient to qualify. A person's mood becomes elevated to the point of euphoria. He or she may go days without sleep and talk rapidly and shift topics wildly. Judgement is often impaired.

p In bipolar II disorder, individuals suffer from episodes of major depression along with hypomania in which their change in mood and behaviour is less severe than those seen in full mania. In cyclothymic disorder, people exhibit chronic but relatively mild symptoms of bipolar disorder.

p Manic states can seem attractive in milder forms. Temporary surges of productivity and creativity. Paradoxical negative undercurrent of irritability and depression. Impaired judgement leads many victims to do things they greatly regret later.

p Bipolar disorder affects about 1 percent of North America, equally often in male and female. Typical onset is late teens. Manic episodes last about four months. Depression runs somewhat longer and most patients spend more time in depressed states than manic states.

h3.subsection 15-4c Diversity in mood disorders

p
  .defn
    .term Seasonal affective disorder (SAD)
    .meaning a type of depression that follows a seasonal pattern
  .defn
    .term Postpartum depression
    .meaning a type of depression that sometimes occurs after childbirth

p The most common form is winter depression, where people are depressed due to low amounts of sunlight. 11 percent of individuals who had depression evidenced the SAD subtype, with an overall estimate prevalence in the population of almost 3 percent of Canadians. Suggestions that the onset of SAD is related to melatonin production and circadian rhythms.

p Symptoms of postpartum depression include depression and mania. Occurs in about 10-20 percent of women who have given birth. Women residing in urban settings have higher rates of postpartum depression than women in other settings. Immigrant women in Canada appear to have an even higher rate of postpartum depression than do Canadian-born women.

h3.subsection 15-4d Mood disorders and suicide

p More people die from suicide than armed conflicts around the world. One of three leading causes of death of people age 15-34. In Canada, second leading cause of death for ages 15-34 following accidents.

p Suicidal rates higher for Aboriginals than non-Aboriginals. Rate of suicide among immigrants averages about half of native-born Canadians.

p Experts estimate suicide attempts outnumber completed suicides ratio as much as 25 to 1. Women attempt suicide 3 more times often than men. Men more likely to kill themselves, as they complete four times as many suicides as women. 90 percent of people who complete suicide suffer some mental disorder. Depressive and bipolar disorders contribute to 50-60 percent of completed suicides.

h3.subsection 15-4e Eitology of Depressive and Bipolar Disorder

p Genetic factors influence the likelihood of developing major depression and bipolar disorder Heredity can create a predeposition to mood dysfunction. Environmental factors probably determine whether this predisposition is converted into an actual disorder.

p Important neurotransmitters: norepinephrine and serotonin. Low levels of serotonin appear to be a crucial factor underlying most forms of depression. Association between depression and reduced hiccocampal volume, especially in the dentate gyrus of the hippocampus. Depression occurs when major life stress cause neurochemical reactions that suppress this neurogenesis, resulting in reduced hippcampal volume. Anti depressant drugs are successful because they promote neurogenesis.

p Evidence suggests that overactivity along the HPA axis in response to stress can often play a role in the development of depression.

p The reforumulated theory of learned helplessness asserts that the roots of depression asserts that the roots of depression lie in how people explain the setbacks and other negative events they experience. Seligman: People who exhibit a pessimistic explanatory style are especially vulnerable to depression.
