h3.subsection Introduction

p In any given year, one in five Canadians experience mental illness or problems. The use of antianxiety and antidepressant medications has increased significantly in recent decades. Costs Canada at least 50 billion annually, and will cost economy more than 2.5 trillion in next three decades

h3.subsection 15-1a The Medical model applied to abnormal behaviour

p
  .defn
    .term Medical model
    .meaning proposes that it is useful to think of abnormal behaviour as a disease
  | The medical model became the dominant way of thinking during 18th and 19th centuries. Before, abnormal behaviour was based on superstition. With the medical model, they were viewed with more sympathy and less hatred and fear. Ineffectual approaches eventually turned into scientific investigation of causes and cures. Being label mentally ill carries a social stigma of erratic, dangerous, incompetent, and inferior. This causes stress for people with a mental illness.
 
p In recent decades, psychological disorders have been partly attributed to genetic and biological factors, making them more similar to physical illnesses which cause less stigma. Szasz was a critic of the medical model, saying illness can only affect the body and not the mind. He also said abnormal behaviour usually involves a deviation from the norm.

p Medical model continues to dominate thinking about psychological disorders. Some valuable terms:
  ul
    li
      .defn
        .term Diagnosis
        .meaning involves distinguishing one illness from another
    li
      .defn
        .term Etiology
        .meaning refers to the apparent causation and developmental history of an illness
    li
      .defn
        .term Prognosis
        .meaning is a forecast about the probably course of an illness

h3.subsection 15-1b Criteria of abnormal behaviour

p Clinicians rely on a variety of criteria:
  ul
    li Deviance. Behaviour deviates from what their society considers acceptable.
    li Maladaptive behaviour. People's everyday adapative behaviour is impaired. Typically drug use.
    li Personal distress. Individual's report of great personal distress. Labelled for having a disorder when describing their subjective pain.

p Diagnoses of psychological disorders involve value judgements about what respresents normal or abnormal behaviour, but these reflect cultural values, social trends, political forces, and scientific knowledge.

p Can't draw a clear line that seperates normality from abnormality, instead it's more of a continuum.

h3.subsection Stereotypes of psychological disorders

p Largely inaccurate sterotypes:
  ul
    li "Psychological disorders are incurable" -- people who get better greatly outnumber those who do not get better from treatment
    li "People with psychological disorders are often violent and dangerous" -- only true for small number of cases usually involving severe disorders. Only a modest association between mental illness and violence prone tendencies.
    li "People with psychological disorders behave in bizarre ways and are very different from normal people" -- Only true for small minority of cases. Rosenhan's study showed that people who were "hearing stuff" acted normal for everything beside their one symptom.

h3.subsection Psychodiagnosis: The classifcation of disorders

p Classification system by APA: Diagnostic and Statistical Manual of Mental Disorders. One criticism this has goteen is that it assumes people can reliably be placed in discontinuous(nonoverlapping) diagnostic categories. Some theorists aregu that this should be replaced by a dimensional approach -> describe disorders in terms of how people score on a limited nmber of continuous dimensions. Thr problem here is experts would have to agree about which dimensions to use and how to measure them.

p Another area of concern is the near exponential growth of categories. Some are breaking down an existing category, but much of it is adding new disorders. Some of the new disorders are seen as mundane, everyday adjustment problems, instead of mental disorders.
