.scroll-top-button {
  background: $color-green;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  font-size: 1.5rem;
  z-index: 1;
  font-weight: 700;
  color: $color-white;
  text-decoration: none;
  padding: 1rem;
  border-radius: 1rem;
  transition: .2s all;
  box-shadow: 0 .8rem .3rem rgba($color-black, 0.2);

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 0.8rem .5rem rgba($color-black, 0.4);
  }
}
