doctype html
html
  head(lang="en")
    link(href="https://fonts.googleapis.com/css?family=Lato:400,700",rel="stylesheet")
    link(href="css/style.comp.css", rel="stylesheet")
    title Notes
  body
    .notes-container
      .card
        h2.section-header Useful Resources
        section.section
          | Course textbook and quizzes can be found at
          a.link(href="https://login.nelsonbrain.com/course/MTPPQGSPT6PP", target="_blank") Mindtap
      .card
        h2.section-header Chapter 9: Intelligence and Psychological Testing
        section.section
          include includes/ch09.pug

      .card
        h2.section-header Chapter 12: Personality: Theory, Research, and Assessment
        section.section
          include includes/ch12.pug